<head>
    <link rel="stylesheet" type="text/css" href="static\bootstrap.min.css"/>
</head>
<body>

{% extends "base.html" %}
{% block content %}
<h1>Hey, {{ user.username }}!</h1>
{% for post in posts %}
<div><p>{{ post.author.username }} says: <b>{{ post.body }}</b></p></div>
{% endfor %}
<form action="/dict" method="post">
    <p><b>Your nickname:</b><br>
        <input type="text" name="nickname" size="15">
    </p>
    <p><b>Your message:</b><br>
        <input type="text" name="message" size="15">
    </p>
    <input type="submit" style="display: none">
</form>
{% endblock %}

</body>

